body {
    background: url(https://www.asctimetables.com/sg_global/images/bg.jpg);
}
.principal {
    width: 900px;
    height: 1000px;
    margin: auto;   
}
header {
    width: 900px;
    height:100px;
}
.titulo {
    float:left;
    margin-top:10px;
    margin: 10px;
    color: black;
}
.sesion{
    
    width: auto;
    height: auto;
    border: 1px solid black;
    float:right;
    margin-top:10px;
     margin: 10px;
}
.sesion li{
 display:inline-block;
}
.sesion a {
    padding: 10px 20px;
    display:inline-block;
    color:black;
}
.sesion li a:hover {
    background: black;
    color: white;
}
.menu {
    
    width: 600px;
    height: auto;
    border: 1px solid black;
    margin-left: 150px;
    margin-top:10px;
}
.menu li {
    display:inline-block;
}
.menu li a {
    padding: 10px 20px;
    display:inline-block;
    color: black;
}
.menu li a:hover {
    background: black;
    color: white;
}
.novedades {
    
    width:400px;
    height: auto;
    margin-top: 15px;
    display:inline-block;
    border: 1px solid black;
    margin: 15px;
    color: black;
}
.direccion {
    
    width:400px;
    height: auto;
    float:right;
    margin-top: 15px;
    display: inline-block;
    border: 1px solid black;
    margin: 15px;
    color: black;
}