body {
    background: #ddd;
}
h1 {
    text-align: center;
}
form {
    background: rgba(0,0,0,.6);
    width:245px;
    margin:auto;
    padding:15px 55px;
    margin-top: 30px;
    padding-bottom: 30px;
    border-radius: 4px;
}
label {
    font-size:20px;
}
input, textarea {
    border:1px solid #CCCCCC;
    
}
input {
    width: 100%;
    padding:5px;
}
.boton {
    width: 100%;
    background:orange;
    border:none;
    color: white; 
}

