<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Iniciosesion</servlet-name>
        <servlet-class>servlet.Iniciosesion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Iniciosesion</servlet-name>
        <url-pattern>/Iniciosesion</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ConsultarUsuarios</servlet-name>
        <servlet-class>servlet.ConsultarUsuarios</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConsultarUsuarios</servlet-name>
        <url-pattern>/ConsultarUsuarios</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ActualizarUsuario</servlet-name>
        <servlet-class>servlet.ActualizarUsuario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ActualizarUsuario</servlet-name>
        <url-pattern>/ActualizarUsuario</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RegistroUsuarios</servlet-name>
        <servlet-class>servlet.RegistroUsuarios</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistroUsuarios</servlet-name>
        <url-pattern>/RegistroUsuarios</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RegistroTipoDoc</servlet-name>
        <servlet-class>servlet.RegistroTipoDoc</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistroTipoDoc</servlet-name>
        <url-pattern>/RegistroTipoDoc</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ActualizarTipodocumento</servlet-name>
        <servlet-class>servlet.ActualizarTipodocumento</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ActualizarTipodocumento</servlet-name>
        <url-pattern>/ActualizarTipodocumento</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ConsultarTipodocumento</servlet-name>
        <servlet-class>servlet.ConsultarTipodocumento</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConsultarTipodocumento</servlet-name>
        <url-pattern>/ConsultarTipodocumento</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ActualizarRoles</servlet-name>
        <servlet-class>servlet.ActualizarRoles</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ActualizarRoles</servlet-name>
        <url-pattern>/ActualizarRoles</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ConsultarRoles</servlet-name>
        <servlet-class>servlet.ConsultarRoles</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConsultarRoles</servlet-name>
        <url-pattern>/ConsultarRoles</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RegistroRoles</servlet-name>
        <servlet-class>servlet.RegistroRoles</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistroRoles</servlet-name>
        <url-pattern>/RegistroRoles</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ActualizarEstadoUsuario</servlet-name>
        <servlet-class>servlet.ActualizarEstadoUsuario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ActualizarEstadoUsuario</servlet-name>
        <url-pattern>/ActualizarEstadoUsuario</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ConsultarEstadoUsuario</servlet-name>
        <servlet-class>servlet.ConsultarEstadoUsuario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConsultarEstadoUsuario</servlet-name>
        <url-pattern>/ConsultarEstadoUsuario</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RegistroEstadousuario</servlet-name>
        <servlet-class>servlet.RegistroEstadousuario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistroEstadousuario</servlet-name>
        <url-pattern>/RegistroEstadousuario</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ActualizarGenero</servlet-name>
        <servlet-class>servlet.ActualizarGenero</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ActualizarGenero</servlet-name>
        <url-pattern>/ActualizarGenero</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ConsultarGenero</servlet-name>
        <servlet-class>servlet.ConsultarGenero</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConsultarGenero</servlet-name>
        <url-pattern>/ConsultarGenero</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RegistroGenero</servlet-name>
        <servlet-class>servlet.RegistroGenero</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistroGenero</servlet-name>
        <url-pattern>/RegistroGenero</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ActualizarCategorias</servlet-name>
        <servlet-class>servlet.ActualizarCategorias</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ActualizarCategorias</servlet-name>
        <url-pattern>/ActualizarCategorias</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ConsultarCategorias</servlet-name>
        <servlet-class>servlet.ConsultarCategorias</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConsultarCategorias</servlet-name>
        <url-pattern>/ConsultarCategorias</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RegistroCategorias</servlet-name>
        <servlet-class>servlet.RegistroCategorias</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistroCategorias</servlet-name>
        <url-pattern>/RegistroCategorias</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ActualizarMarca</servlet-name>
        <servlet-class>servlet.ActualizarMarca</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ActualizarMarca</servlet-name>
        <url-pattern>/ActualizarMarca</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ConsultarMarca</servlet-name>
        <servlet-class>servlet.ConsultarMarca</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConsultarMarca</servlet-name>
        <url-pattern>/ConsultarMarca</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RegistroMarca</servlet-name>
        <servlet-class>servlet.RegistroMarca</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistroMarca</servlet-name>
        <url-pattern>/RegistroMarca</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ActualizarUnidadmedida</servlet-name>
        <servlet-class>servlet.ActualizarUnidadmedida</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ActualizarUnidadmedida</servlet-name>
        <url-pattern>/ActualizarUnidadmedida</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ConsultarUnidadmedida</servlet-name>
        <servlet-class>servlet.ConsultarUnidadmedida</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConsultarUnidadmedida</servlet-name>
        <url-pattern>/ConsultarUnidadmedida</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RegistroUnidadmedida</servlet-name>
        <servlet-class>servlet.RegistroUnidadmedida</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistroUnidadmedida</servlet-name>
        <url-pattern>/RegistroUnidadmedida</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
