<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Iniciosesion</servlet-name>
        <servlet-class>servlet.Iniciosesion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Iniciosesion</servlet-name>
        <url-pattern>/Iniciosesion</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ConsultarUsuarios</servlet-name>
        <servlet-class>servlet.ConsultarUsuarios</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConsultarUsuarios</servlet-name>
        <url-pattern>/ConsultarUsuarios</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ActualizarUsuario</servlet-name>
        <servlet-class>servlet.ActualizarUsuario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ActualizarUsuario</servlet-name>
        <url-pattern>/ActualizarUsuario</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RegistroUsuarios</servlet-name>
        <servlet-class>servlet.RegistroUsuarios</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistroUsuarios</servlet-name>
        <url-pattern>/RegistroUsuarios</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
